.custom-button {
  border: 1px solid #e1f16b;
  padding: 0.62rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.01rem;
  background-color: #e1f16b;
  color: #1A1D1F;

  &.outlined {
    background-color: transparent;
    color: #e1f16b;
  }
}
