@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/druke-wide/DrukWide-BoldItalic.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/druke-wide/DrukWide-MediumItalic.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/druke-wide/DrukWide-Bold.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/druke-wide/DrukWide-HeavyItalic.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/druke-wide/DrukWide-Heavy.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Super';
    src: url('/fonts/druke-wide/DrukWide-SuperItalic.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-SuperItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Super';
    src: url('/fonts/druke-wide/DrukWide-Super.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/druke-wide/DrukWide-Medium.woff2') format('woff2'),
        url('/fonts/druke-wide/DrukWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/product-sans/ProductSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/product-sans/ProductSans-BoldItalic.woff') format('woff'),
        url('/fonts/product-sans/ProductSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/product-sans/ProductSans-Italic.woff2') format('woff2'),
        url('/fonts/product-sans/ProductSans-Italic.woff') format('woff'),
        url('/fonts/product-sans/ProductSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/product-sans/ProductSans-Regular.woff2') format('woff2'),
        url('/fonts/product-sans/ProductSans-Regular.woff') format('woff'),
        url('/fonts/product-sans/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/product-sans/ProductSans-Bold.woff2') format('woff2'),
        url('/fonts/product-sans/ProductSans-Bold.woff') format('woff'),
        url('/fonts/product-sans/ProductSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import "./colors.scss";
@import "./reset.scss";
